@import "./../../../../styles/color";
.input-icon {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: space-between;

	padding: 4px 0;
	div {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 10%;
		margin: 6px 0;
	}
	.icon-selected {
		opacity: 1 !important;
		border: 1px solid $title-color;
	}
	img {
		border: 1px solid #ffffff00;
		border-radius: 8px;
		padding: 4px;
		width: 24px;
		height: 24px;
		filter: contrast(0);
		opacity: 0.3;
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
}
