.noticies-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	gap: 16px;
}
@media only screen and (max-width: 1280px) and (min-width: 803px) {
	.noticies-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 1075px) {
	.noticies-list {
		grid-template-columns: 1fr;
	}
}
