.radio {
	display: flex;
	align-items: center;
	height: 120px;
	justify-content: space-between;
	.radio-title {
		padding: 8px;
		width: 150px;
		p {
			font-size: 10pt;
		}
		h5 {
			padding: 0;
			margin: 0;
			margin-top: -8px;
		}
	}
}

@import "./../../styles/color";

.radio-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.radio-img {
	height: 120px;
	width: 120px;
	border-radius: 16px;
	padding: 8px;
	background-size: contain;
}
.radios-btns-controler {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 18px;
}
.radios-bts {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.radio-volume {
	transform: rotate(270deg);
}
.radio-volume-input {
	border: 1px solid;
	padding: 0;
	z-index: 2;
	margin-top: -13px;
	position: absolute;
	opacity: 0;
}

.radio-volume-bg {
	background-color: #f7f7f7;
	width: 96px;
	height: 6px;
	border-radius: 10px;
}

.radio-volume-bar {
	height: 6px;
	background-color: $primary-color;
	border-radius: 10px;
}
