
@import './../../../../../../styles/color';
.domestic-total-card-box{
    display: flex;
    align-items: center;
    background-color: $box-background;
    height: 230px;
    justify-content: center;
    box-shadow: 3px 3px 10px $box-shadow;
    border-radius:8px;

}