
@import './../../../../../../styles/color';
.domestic-total-card-box{
    display: flex;
    align-items: center;
    background-color: $box-background;
    height: 300px;
    justify-content: center;

}