@import './../../../styles/color';

.button-add-finance{
    position: fixed;
    display: flex;
    align-items: end;
    z-index:0  ;
    bottom:64px;
    right: 16px;
    z-index: 2;
    
    
    .page-container{
        max-width: 100px;
        flex-direction: row;
        display: grid;
        justify-content: end;
        align-items: end;
        grid-template-columns: auto;
        gap: 32px;
        .option-animation{
            opacity: 1!important;
        
        }
        .options{
            grid-column-end: 1;
            width: max-content;
            div{
                background-color: $box-background;
                box-shadow: 3px 3px 10px $box-shadow;
                padding: 16px;
                width: max-content;
                border-radius: 16px;
                opacity: 0;
                transition: 0.4s;
                cursor: pointer;
            }
            justify-content: end;
            align-items: end;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
    
    

    .button-add{
        background-color: $primary-color;
        width: 48px;
        height: 48px;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 20px $box-shadow-green;
        opacity: 0.8;
        transition: 0.4s;
        padding: 0;
        cursor: pointer;
        .button-add-close{
            height: 3px;
            width: 16px;
            background-color: $title-color;
            border-radius: 8px;
        }
        &:hover{
            opacity: 1;
        }
        img{
            width: 18px;
        }
    }
}