@import './../../../../styles/color';
.finances-trips-actives{
    width: 100%;
}

.finances-trips-actives-table{
    min-height: 300px;
    width: 100%;
    box-shadow: 3px 3px 22px $box-shadow;
    background-color:$box-background;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
}
.finances-trips-actives-item{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid $input-border-color;
    &:hover{
        background-color: $input-border-color;
    }
    .finances-trips-actives-left{
        display: flex;
        gap: 4px;
        .finance-bar-color{
            width: 4px;
            height: 100%;
            border-radius: 8px;
            
        }
        .finances-trips-actives-text{
        flex-direction: row;
        display: flex;
        gap: 4px;
        width: 260px;
        div{
            display: flex;
            align-items: center;
            gap: 4px;
            .circle{
                width: 4px;
                height: 12px;
                border-radius: 8px;
            }
        }
        .finances-trips-actives-title{
            font-weight: 800;
            color: $title-color;
            font-size: 14px;
            width: 160px;
        }
        .finances-trips-actives-category{
            font-size: 12px;
            color: $title-color;
            display: flex;
            align-items: center;
            gap: 4px;
            margin-top: 4px;
            font-style: italic;
        }
    }
}
.finances-trips-actives-date{
    font-size: 13px;
    font-style: italic;
    margin: 0 auto;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.finances-trips-actives-value{
    color: $title-color;
    font-size: 13px;
    width: 80px;
    text-align: end;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
             font-weight: 800;

    

}
    
}

@media only screen and (max-width: 990px) {

    .finances-trips-actives-text{
        flex-direction: column!important;
        width: 160px!important;
    }
    .finances-trips-actives-category{
        font-size: 12px!important;

    }
            }