@import './../../../../styles/color';

.social-login-component{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    div{
        border: 2px solid $input-border-color;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.4s;
        &:hover{
            background-color: $background;
            transition: 0.4s;

    }
    }
}