@import './../../../styles/color';
.avatar-box{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    .avatar-text{
        text-align: right;
        display: flex;
        flex-direction: column;
        .avatar-name{
            font-size: 14pt;
            font-weight: 700;
            text-align: right;
            color: $title-color;
        }

        img{
            width: 18px;
        }
        
    }
    .avatar-photo-box{
        display: flex;
        flex-direction: row;
        .avatar-photo{
            width: 72px;
            height: 72px;
            border-radius: 72px;
            background-size: cover;
            background-position: center;
        }
        .button-options{
            margin-left: -16px;
        }
    }
}