@import "./../../../styles/color";

.toDoList-dashboard {
	padding: 8px;
	.list-todolist {
		height: 692px;
		overflow: scroll;
		border-radius: 8px;
		.todolist-card {
			margin-bottom: 8px;
		}
	}
}
