@import './../../../../styles/color';

.date-range{
    display: flex;
    gap: 4px;
    justify-content: end;
    align-items: center;
    select{
        cursor: pointer;
        appearance:none;
        padding: 4px 8px;
        margin: 0;
        height: max-content;
        width: max-content;
        border: 1px solid $input-border-color;
        border-radius: 32px;
        background: none;
        color: $paragraph-color;
        font-size: 12px;
    }
}