@import './../../../../styles/color';

.travel-cards{
    .travel-cards-itens{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .travel-card{
        width: 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            box-shadow: 3px 3px 10px $box-shadow-hover;
        }
        .travel-card-top{
            display: flex;
            gap: 4px;
            img{
                height: 12px;
                max-width: 12px;
            }
            span{
                                color: $title-color;
              
            }
        }
        
        .travel-card-medium{
            .travel-card-value{
                color: $paragraph-dark-color;
            }
        }
        .travel-card-bottom{
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: space-around;
            .travel-card-bar{
                height: 6px;
                width: 240px;
                background-color: $input-border-color;
                border-radius: 4px;
                width: calc(100% - 58px);
                div{
                    height: 6px;
                    border-radius: 2px;
                }
            }
        }

    }
}