@import './../../../../styles/color';

.travel-cards{
    .travel-cards-itens{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .travel-card{
        width: 100%;
        background-color: $box-background;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        box-shadow: 3px 3px 10px $box-shadow;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            box-shadow: 3px 3px 10px $box-shadow-hover;
        }
        .travel-card-top{
            font-weight: 600;
            display: flex;
            gap: 4px;
            span{
                color: $title-color;
                
            }
        }
        
        .travel-card-medium{
            .travel-card-value{
                color: $title-color;

            }
        }
        .travel-card-bottom{
            display: flex;
            gap: 8px;
            .travel-card-bar{
                height: 10px;
                width: 240px;
                background-color: $input-border-color;
                border-radius: 4px;
                width: calc(100% - 58px);
                div{
                    height: 10px;
                    border-radius: 2px;
                }
            }
        }

    }
}