.finances-resume{
    h3{
        margin: 0;
        margin-top: 16px;
    }
    .finances-resume-cards{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: space-between;
        
    }
}