
@import './../../../../../../styles/color';
.domestic-total-card-box{
    display: flex;
    height: 230px;
    align-items: center;
    .domestic-total-card-resume{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}