@import './../../../../styles/color';

.login-menu{
    display: flex;
    gap: 32px;
    margin-bottom: -18px;
    h2{
        background: none;
        border: none;
        opacity: 0.18;
        padding-bottom: 8px;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            opacity: 1;
        }
        
    }
    .selection{
        opacity: 1;
        border-bottom: 4px solid $primary-color;
    }
}