$primary-color:#6AD9A8;
$primary-color-1:#5ec398;
$secondary-color:#6958A3;
$terciary-color:#FA385F;
$quartenary-color:#F1F180;
$blue-color:#68D5D9;
$quintenary-color:#B9CBBB;
$title-color:#374957;
$paragraph-color:#a5a5a5;
$paragraph-light-color:#dfdfdf;
$input-border-color:#eaeaea6f;
$paragraph-dark-color:rgb(135, 135, 135);
$box-background:#fff;
$box-fullpage-background:#10101039;
$todolist-background:#fcfcfc;
$background:#f7f7f757;
$box-shadow:#2c443908;
$box-shadow-hover:#2c44391c;
$box-shadow-green:#6cd9aa6e;






