$primary-color:#6AD9A8;
$primary-color-1:#5ec398;
$secondary-color:#6958A3;
$terciary-color:#FA385F;
$quartenary-color:#F1F180;
$blue-color:#68D5D9;
$quintenary-color:#B9CBBB;
$title-color:#202525;
$paragraph-color:#c1c1c1;
$paragraph-light-color:#dfdfdf;
$input-border-color:#eef5f0ed;
$paragraph-dark-color:#627169e7;
$box-background:#fff;
$box-fullpage-background:#10101039;
$todolist-background:#f8f8f8;
$background:#fff;
$box-shadow:#4242420c;
$box-shadow-hover:#2c443913;
$box-shadow-green:#6cd9aa6e;






