$primary-color:#6AD9A8;
$primary-color-1:#5ec398;
$secondary-color:#6958A3;
$terciary-color:#FA385F;
$quartenary-color:#F1F180;
$blue-color:#68D5D9;
$quintenary-color:#fafafa;
$title-color:#202525;
$paragraph-color:#c1c1c1;
$paragraph-light-color:#dfdfdf;
$input-border-color:#edf0eeed;
$paragraph-dark-color:#627169e7;
$box-background:#fdfdfd;
$box-fullpage-background:#1010106d;
$todolist-background:#f8f8f8;
$background:#fafafa;
$box-shadow:#73737307;
$box-shadow-hover:#2c443913;
$box-shadow-green:#6cd9aa6e;






