@import './color';

.box{
    background-color: $box-background;
    border-radius: 8px;
    box-shadow: 3px 8px 22px $box-shadow;
    width: 85%;
    padding: 16px;
    max-width: 360px;
}

.page-container{
    padding: 0;
    max-width: 1550px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 32px;
    width: calc(100% - 16px);
}


hr{
    border: 1px solid $input-border-color;
    margin: 32px 0;
}

@media only screen and (max-width: 720px) {
    .page-container{
        padding: 0;
        width: 95vw;
    }

}


