@import "./color";
h1,
h2,
h3,
h4,
h5 {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
}

button,
h1,
h2,
h3,
h4,
h5,
input {
	color: $title-color;
}

a {
	color: $paragraph-color;
}
span {
	color: $paragraph-color;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}
.span-small {
	font-size: 8pt;
}

h1 {
	font-size: 32pt;
	font-weight: 800;
}
h2 {
	font-size: 22pt;
	font-weight: 800;
}
h3 {
	font-weight: 800;
	font-size: 16pt;
}
h4 {
	font-size: 14 pt;
}
h5 {
	font-size: 12pt;
	font-weight: 600;
}

div,
input {
	color: $paragraph-color;
	font-size: 12pt;
}
