@import './color';


.clean-input{

    border: 2px solid $input-border-color;
    border-radius: 8px;
    padding: 12px;
    h4{
        font-size: 10pt;
    }
    input{
        background-color: $box-background!important;
        z-index: 4;
        border: none!important;
        padding: 0;
        background:none;
        margin-top: -28px;
        transition: 0.1s;
        &:not([value=""]){
            margin-top: 0px;
        }
        &:focus{
            margin-top: 0px;

        }

    }
}

 

label{
    font-weight: 900;
    margin: 0 auto;
    width: 100%;
    h4{
        margin: 0;
        margin-bottom: 8px;
    }
        display: flex;
        width: 100%;
        flex-direction: column;
    
}
input, select{
    border-radius: 8px;
    border:2px solid $input-border-color;
    padding: 12px;
    margin: 0;
    width: -webkit-fill-available;
}
input::placeholder{
    opacity: 0.6;
}
input:focus{
        outline: none !important;

}

table{
    width: 100%;
    text-align: left;
    font-size: 11pt;
    .bord{
        font-weight: 600;
        color: $title-color;
    }
    .options{
        width: 10px;
        display: flex;
        
    }
    tr{

        overflow: hidden;
        &:hover{
            background-color: $input-border-color;
            
        }
        
        vertical-align: middle;
        
    }
}
    th{
    color: $title-color;
    padding: 8px 16px;
}
    td{
        padding: 12px 32px;
        border-bottom: 1px solid $input-border-color;
    }

  