.home {
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	.home-column-1,
	.home-column-2,
	.home-column-3 {
		min-width: 360px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	.finances-resume {
		.title-of-component {
			display: none;
		}
	}
}

.home-weather-dayToTrip {
	display: flex;
	gap: 8px;
	width: 100%;
}

.finance-resume-dashboard-content {
	padding: 8px;
}
.advice-categorie-scroll-dashboard {
	height: 700px;
	overflow: scroll;
}

@media only screen and (max-width: 1500px) {
	.home {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 1280px) and (min-width: 913px) {
	.home {
		grid-template-columns: 1fr 1fr;
	}
	.home-column-3 {
		grid-column-start: 1;
		grid-column-end: 3;
		display: grid !important;
		grid-template-columns: 1fr 1fr;
		gap: 16px;
		.exchange-dashboard {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 0;
			grid-row-start: 1;
		}
		.home-dashboard-finances {
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-end: 3;
			grid-row-start: 1;
			.finance-resume-components {
				min-height: 363px;
			}
		}
		.ads {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-start: 2;
		}
	}
}

@media only screen and (max-width: 912px) {
	.home {
		padding-bottom: 132px;
		display: flex;
		flex-direction: column;
		.home-column-1,
		.home-column-2,
		.home-column-3 {
			grid-column-start: 1;
			grid-column-end: 2;
			display: contents !important;
		}
	}
	.ads-img {
		height: calc(100vw / 4) !important;
	}
}
