@import './../../../../../../styles/color';

.domestic-goals-box{
    background-color:$box-background;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px $box-shadow;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        box-shadow: 3px 3px 20px $box-shadow-hover;

    }
    .domestic-goals-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        .domestic-goal-porcent{
            font-size: 11px;
        }

    }
    .domestic-goals-content{
        .domestic-goals-title{
            font-weight: 600;
            font-size: 14px;
            color: $title-color;
        }
        span{
            font-size: 14px;
        }
    }

}

@media only screen and (max-width: 600px) {
    .domestic-goals-box{
        width: 95vw!important;
    }

}