@import './../../../../../../styles/color';

.domestic-goals-box{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        box-shadow: 0px 0px 16px $box-shadow-hover;

    }
    .domestic-goals-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        .domestic-goal-porcent{
            font-size: 11px;
        }

    }
    .domestic-goals-content{
        gap: 4px;
        display: flex;
        flex-direction: column;
        .domestic-goals-value{
            span{
                            }
        }
        .domestic-goals-title{
                        color: $paragraph-dark-color;
        }
    }

}

@media only screen and (max-width: 600px) {
    .domestic-goals-box{
        width: 95vw!important;
    }

}