.home-main{
    display: grid;
    gap: 32px;
    grid-template-columns: 5fr 5fr 5fr 2fr;
    justify-content: center;
    .home-column-1, .home-column-2, .home-column-3{
        min-width: 360px;
        display: flex;
        flex-direction: column;
        gap: 32px;

    }
}

.home-weather-dayToTrip{
    display: flex;
    gap: 8px;
    width: 100%;

}
.finances-resume{
    .title-of-component{
        display: none;
    }
}
.finance-resume-dashboard-content{
    padding: 8px;
}
    .advice-categorie-scroll-dashboard{
        height: 700px;
        overflow: scroll;
}



@media only screen and (max-width: 1500px)  {
  .home-main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-column-4{
    grid-column-start: 1;
    grid-column-end: 4;
    .advice-categorie-scroll-dashboard{
        flex-direction: row;
        height: max-content;
    }
  }
}

@media only screen and (max-width: 1280px) and (min-width:913px) {
  .home-main {
    grid-template-columns: 1fr 1fr;
  }
  .home-column-3{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid!important;
    grid-template-columns: 2fr 1fr;
    .finance-resume-dashboard{
        grid-column-start: 2;
    }
    .home-deal{
        margin-top: -202px;
    }
    .finances-resume{
        width: 100%;

    }
    .finance-simple-result{
        text-align: center;
    }
    .finance-resume-components{
        flex-direction: column;
        align-items: center;
    }
    .finance-resume-dashboard-content{
        height: 370px;
        display: flex;
    }
    .finances-resume-cards{
        display: flex;
        flex-direction: column;
    }
    .planner-ticket-bottom-right{
        display: flex;
    }
  }

}

@media only screen and (max-width: 912px) {
  .home-main {
    padding-bottom: 132px;
    display: flex;
    flex-direction: column;
        .home-column-1, .home-column-2, .home-column-3{
            grid-column-start: 1;
            grid-column-end: 2;
            display: contents!important;
        
    }
    .finance-resume-components{
        justify-content: space-around;
    }
  }

}
