@import './../../../../styles/color';

.finances-entraces-actives{
    width: 100%;

}
.finances-entraces-actives-table{
    height: 280px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    
}
.finances-entraces-actives-item{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid $input-border-color;

    &:hover{
        background-color: $todolist-background;
    }
    .finances-entraces-actives-text{
        width: 130px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        div{
            display: flex;
            align-items: center;
            gap: 4px;
            .circle{
                width: 4px;
                height: 12px;
                border-radius: 8px;
                background-color: $primary-color;
            }
        }
        .finances-entraces-actives-title{
            font-size: 12px;
            color: $paragraph-dark-color;
                    }
        
    }
    .finances-entraces-actives-date{
        margin: 0 auto;
        font-size: 8pt;
        width: 90px;
    }
    .finances-entraces-actives-value{
         color: $paragraph-dark-color;
         font-size: 12px;
         width: 80px;
         text-align: end;
         font-weight: 600;


    }
}