@import './../../../../styles/color';

.button-simple{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    transition: 0.4s;
}
.button-simple:hover{
    background-color: $primary-color-1;
    transition: 0.4s;
}

.button-inactive{
    opacity: 0.7;
}
.button-success{
    background-color: $primary-color;
    box-shadow: 8px 8px 22px $box-shadow-green;

}
.btn-loading{
    width: 32px;

}