@import './../../../../styles/color';

.button-add-page{
    position: fixed;
    bottom:72px;
    display: flex;
    justify-content: end!important;
    width: 100%;
    left: 0;
    
    

    .button-add{
        background-color: $primary-color;
        width: 48px;
        height: 48px;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 20px $box-shadow-green;
        opacity: 0.8;
        transition: 0.4s;
        padding: 0;
        cursor: pointer;
        float: right;
        &:hover{
            opacity: 1;
        }
        img{
            width: 18px;
        }
    }
}