@import './../../../../styles/color';

.input-money{
    align-items: center;
    border: 2px solid $input-border-color;
    gap: 8px;
    padding: 8px;
    width: max-content;
    width: auto;
    font-weight: 400;
    color: $paragraph-dark-color;

    display: flex;
    span{
        font-size: 38pt;
        width: 100%;
        cursor:text;
        color: $title-color;
    }
    input{
        color: $paragraph-dark-color;
        font-size: 38pt;
        border: none;
        padding: 0;
        width: 320px;
        background: none;
        margin-left:49px;
        -webkit-text-fill-color: transparent;
        position: absolute;
        opacity: 0;
        &::selection {
            background: rgba(255, 255, 0, 0);
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
}

    }
}