@import './../../../../styles/color';

.input-money{
    align-items: center;
    gap: 8px;
    width: max-content;
    width: auto;
    font-weight: 400;
    color: $paragraph-dark-color;
    input{
        
        padding: 16px;
        border: 2px solid $input-border-color;
        font-size: 52px;
    }

    display: flex;
    span{
        font-size: 38pt;
        width: 100%;
        cursor:text;
        color: $title-color;
    }
}