.entrace-main{
    width: 100%;
    .entraces-components{
        display: grid;
        width: auto;
        grid-template-columns: 20% 50% calc(30% - 32px);
        gap: 16px;
        height: 360px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 1040px) {
        .entraces-components{
             display: contents!important;

        }


}