@import './../../../../styles/color';

.finances-goals-edit-actives{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px -16px 16px -16px;
    cursor: pointer;
    padding-bottom: 32px;
    h4{
        margin: 0;
        margin-bottom: 8px;
        padding-top: 32px;
        padding-left: 16px;
    }
    background-color: $background;
    .finances-goals-edit-actives-item{
        padding:0px 16px;
        font-size: 12px;
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        border-bottom: 1px solid  $input-border-color;
        padding: 8px 16px;
        &:hover{
            background-color: $input-border-color;
        }
        .finances-goals-edit-actives-text{
            display: flex;
            flex-direction: column;
            gap: 4px;
            left: 0;
            div{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 4px;
                .circle{
                    width: 4px;
                    height: 12px;
                    border-radius: 8px;
                    background-color: $primary-color;
                }
                .finances-goals-edit-actives-title{
                    font-weight: 600;
                    color: $title-color;
                }
            }
        }
        .finances-goals-edit-actives-date{
            text-align: center;
            font-style: italic;
        }
        .finances-goals-edit-actives-value{
            color: $title-color;
            text-align: end;
        }
    }
}