@import './../../../../../styles/color';

.finances-actives-table{
    height: 230px;
    overflow-y: scroll!important;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
     &::-webkit-scrollbar{
            display: flex!important;}
            &::-webkit-scrollbar-track {
                margin-right: -12px!important;
                background-color: transparent;
                overflow: hidden;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $input-border-color;
                border: 6.2px solid transparent;
                border-radius: 32px;
                background-clip: content-box;
    }
    .finances-actives-item{
        cursor: pointer;
        padding: 16px 16px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-bottom: 1px solid $input-border-color;
        &:hover{
            background-color: $todolist-background;
        }
        .finance-actives-left{
            display: flex;
            gap: 4px;
            .finance-bar-color{
                width: 4px;
                height: 100%;
                border-radius: 8px;
            }
            .finances-actives-title{
                color: $paragraph-dark-color;
            }

        }
        .finances-actives-date{
            text-align: center;
        }
          .finances-actives-value{
            text-align: end;
            color: $title-color;
            font-weight: 600;
        }
    }

}
