@import './../../../../styles/color';

.finances-actives-table{
    min-height: 230px;
    overflow: scroll;
    box-shadow: 3px 3px 10px $box-shadow;
    background-color:$box-background;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
}
.finances-actives-item{
    display: grid;
    grid-template-columns: 60% 20% 20%;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid $input-border-color;
    &:hover{
        background-color: $input-border-color;
    }
    .finances-actives-left{
        display: flex;
        gap: 4px;
        .finance-bar-color{
            width: 4px;
            height: 100%;
            border-radius: 8px;
            
        }
        .finances-actives-text{
        display: grid;
        grid-template-columns: 50%50%;
        gap: 4px;
        width: 100%;
        div{
            display: flex;
            align-items: center;
            gap: 4px;
            .circle{
                width: 4px;
                height: 12px;
                border-radius: 8px;
            }
        }
        .finances-actives-title{
            font-weight: 800;
            width: 100%;
            color: $title-color;
            font-size: 12px;
        }
        .finances-actives-category{
            color: $title-color;
            display: flex;
            align-items: center;
            gap: 4px;
            margin-top: 4px;
            font-style: italic;
            span{
                font-size: 12px!important;
            }
        }
    }
}
.finances-actives-date{
    font-size: 12px;
    font-style: italic;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.finances-actives-value{
    color: $title-color;
    font-size: 12px;
    justify-content: right;
    width: 100%;
    display: flex;
    align-items: center;
             font-weight: 800;

    

}
    
}

@media only screen and (max-width: 990px) {

    .finances-actives-text{
        flex-direction: column!important;
        width: 160px!important;
    }
    .finances-actives-category{
        font-size: 12px!important;

    }
            }