@import './../../../../styles/color';

.finances-actives-table{
    min-height: 230px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    
}
.finances-actives-item{
     cursor: pointer;
    display: grid;
    grid-template-columns: calc(60% - 32px) 20% 20%;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
    border-bottom: 1px solid $input-border-color;
    &:hover{
        background-color: $todolist-background;
    }
    .finances-actives-left{
        display: flex;
        gap: 4px;
        .finance-bar-color{
            width: 4px;
            height: 100%;
            border-radius: 8px;
            
        }
        .finances-actives-text{
        display: grid;
        grid-template-columns: 50%50%;
        gap: 4px;
        width: 100%;
        div{
            display: flex;
            align-items: center;
            gap: 4px;
            .circle{
                width: 4px;
                height: 12px;
                border-radius: 8px;
            }
        }
        .finances-actives-title{
            width: 100%;
            color: $paragraph-dark-color;
            padding-right: 16px;
        }
        .finances-actives-category{
            display: flex;
            span{
             font-size: 8pt;
            }
            img{
                height:10px;
                max-width: 10px;
            }
        }
    }
}
.finances-actives-date{
    font-size: 8pt;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.finances-actives-value{
    color: $paragraph-dark-color;
    justify-content: right;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;

    

}
    
}

@media only screen and (max-width: 990px) {

    .finances-actives-text{
        display: flex!important;
        flex-direction: column!important;
        width: 160px!important;
    }
    .finances-actives-category{
        font-size: 12px!important;

    }
            }