.trip-main{
        display: grid;
        width: auto;
        grid-template-columns: 70%  calc(30% - 16px);
        gap: 16px;
        .trip-components-top{
                display: grid;
                width: 100%;
                grid-template-columns: 35%  calc(65% - 16px);
                gap: 16px;
                
        }
}

@media only screen and (max-width: 990px) {

.trip-main{
        display: contents!important;
   
}
            }
@media only screen and (max-width: 900px) {

.trip-components-top{
        display: contents!important;
   
}
            }